.select {
  --selectButtonArrowIconUrl: url('@/shared/assets/icons/Expand_down.svg');
  --selectButtonArrowIconSize: 24px;
  --selectButtonPaddingX: 24px;
  --selectButtonPaddingY: 13px;
  --selectButtonGapX: 4px;
  --minWidthSelect: 177px;

  flex-shrink: 0;

  &__original-control,
  &__button {
    min-width: var(--minWidthSelect);
    padding: var(--selectButtonPaddingY) var(--selectButtonPaddingX);
    color: inherit;
    border: 2px solid var(--color-grey);
    border-radius: var(--border-radius);
  }

  &__original-control {
    background-color: var(--color-black-10);
    background-image: var(--selectButtonArrowIconUrl);
    background-position: calc(100% - var(--selectButtonPaddingX)) 50%;
    background-size: var(--selectButtonArrowIconSize);
    appearance: none;
    background-repeat: no-repeat;
    padding-right: calc(
      var(--selectButtonArrowIconSize) + var(--selectButtonPaddingX) + var(--selectButtonGapX)
    );

    @include mobile-above {
      @include visually-hidden;
    }
  }

  &__body {
    position: relative;
  }

  &__button,
  &__option {
    cursor: pointer;
    user-select: none;
  }

  &__button {
    display: flex;
    background-color: transparent;
    transition-duration: var(--transition-duration);
    align-items: center;
    column-gap: var(--selectButtonGapX);
    justify-content: space-between;

    @include mobile {
      @include visually-hidden;
    }

    &::after {
      @include square(var(--selectButtonArrowIconSize));

      background: var(--selectButtonArrowIconUrl) center/contain no-repeat;
      transition-duration: inherit;
      content: '';
    }

    &.is-open {
      &::after {
        rotate: 180deg;
      }
    }
  }

  &__dropdown {
    position: absolute;
    top: calc(100% + 4px);
    right: 0;
    display: grid;
    min-width: var(--minWidthSelect);
    max-height: 250px;
    padding: 4px;
    background-color: var(--color-black-10);
    border: var(--border);
    border-radius: var(--border-radius);
    transition-duration: var(--transition-duration);
    overflow-y: auto;
    overscroll-behavior: none;
    row-gap: 4px;
    transform-origin: 100% 0;

    &:not(.is-open) {
      scale: 0;
    }
  }

  &__option {
    display: flex;
    padding: 10px;
    border: var(--border);
    border-radius: inherit;
    align-items: center;
    column-gap: 10px;
    justify-content: space-between;

    @include hover {
      color: var(--color-white);
      border-color: var(--color-white);
    }

    &.is-selected {
      color: var(--color-white);

      &::after {
        content: '✔';
      }
    }

    &.is-current {
      border-color: var(--color-white);
    }
  }
}