.hero {
  position: relative;
  z-index: var(--z-index-hero);
  display: flex;
  min-height: 79dvh;
  color: var(--color-black);
  flex-direction: column;

  @include mobile {
    min-height: 52dvh;
  }

  &__pano {
    background: url('@/shared/assets/images/hero-image.jpg') center / cover no-repeat;
    flex-grow: 1;

    @include mobile {
      background: url('@/shared/assets/images/hero-image-sm.jpg') center / cover no-repeat;
    }

    &-inner {
      display: inline-flex;
      max-width: 417px;
      flex-direction: column;
      flex-wrap: wrap;
      margin-top: 180px;
      row-gap: 8px;

      @include tablet {
        margin-left: 112px;
      }

      @include tablet-above {
        margin-left: 140px;
      }

      @include mobile {
        max-width: 280px;
        margin-left: 67px;
        margin-top: 108px;
        row-gap: 0;
      }
    }
  }

  &__title,
  &__subtitle {
    font-family: Outfit, sans-serif;
  }

  &__title {
    font-size: 64px;
    font-weight: 600;

    @include mobile {
      font-size: 40px;
    }
  }

  &__subtitle {
    font-size: 24px;
    font-weight: 400;
  }
}