.hero {
  position: relative;
  z-index: var(--z-index-hero);
  display: flex;
  min-height: 79vh;
  color: var(--color-black);
  flex-direction: column;

  @include mobile {
    min-height: 52dvh;
  }

  &__pano {
    background: url('@/shared/assets/images/hero-image.jpg') center / cover no-repeat;
    flex-grow: 1;

    @include mobile {
      background-image: url('@/shared/assets/images/hero-image-sm.jpg');
    }

    &-inner {
      display: inline-flex;
      max-width: fluid(417, 280);
      flex-direction: column;
      flex-wrap: wrap;
      margin-top: 180px;
      row-gap: 8px;

      @include tablet {
        margin-left: 112px;
      }

      @include tablet-above {
        margin-left: 140px;
      }

      @include mobile {
        margin-left: 67px;
        margin-top: 108px;
        row-gap: 0;
      }
    }
  }

  &__title,
  &__subtitle {
    font-family: Outfit, sans-serif;
  }

  &__title {
    @include fluid-text(64, 40);

    font-weight: 600;
  }

  &__subtitle {
    font-size: 24px;
    font-weight: 400;
  }
}

body:has(iframe) .hero {
  min-height: 620px;

  @include mobile {
    min-height: 400px;
  }
}