.switch {
  --widthSwitch: 48px;

  position: relative;
  display: inline-flex;
  width: var(--widthSwitch);
  height: 24px;
  padding: 2px;
  background-color: var(--color-grey);
  border-radius: 20px;
  cursor: pointer;

  &-wrapper {
    display: flex;
    align-items: center;
    column-gap: 8px;
  }

  &__circle {
    position: absolute;
    right: 2px;
    display: flex;

    @include square(20px);

    background-color: var(--color-white);
    border-radius: 50%;
    transition-duration: var(--transition-duration);
  }

  &:has(.switch__input:checked) {
    background-color: var(--color-blue);

    .switch__circle {
      translate: calc(var(--widthSwitch) / 2 * -1);
    }
  }

  &:has(.switch__input:focus-visible) {
    @include focus-visible;
  }

  &__input {
    appearance: none;

    @include visually-hidden;
  }
}