@font-face {
  font-style: normal;
  font-family: Outfit;
  font-weight: 400 600;
  font-display: swap;
  src: url("@/shared/assets/fonts/Outfit.woff2") format("woff2-variations");
}

@font-face {
  font-style: normal;
  font-family: "DM Sans";
  font-weight: 400 700;
  font-display: swap;
  src: url("@/shared/assets/fonts/DMSans.woff2") format("woff2-variations");
}
