:root {
  --color-white: #F2F9FE;
  --color-light: #D2D5DA;
  --color-grey: #4A5567;
  --color-yellow: #F6C768;
  --color-blue: #4E80EE;

  --color-black: #121826;
  --color-black-10: #20293A;

  --border-radius: 12px;
  --border: 1px solid var(--color-grey);

  --color-shadow-black: #20293AF2;

  --font-family-base: "DM Sans";

  --transition-duration: 0.2s;

  --container-width: #{fluid-to-laptop($container-desktop-width, $container-laptop-width)};
  --container-padding-x: 40px;

  --z-index-main: 1000;
  --z-index-hero: 10;
}