.houses-list {
  &__inner {
    display: grid;
    row-gap: 32px;
  }

  &__body {
    --gridColumns: 3;

    display: grid;
    gap: 73px 32px;
    grid-template-columns: repeat(var(--gridColumns), 1fr);
  }
}